<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyBlog</display-name>
  <servlet>
    <servlet-name>getArticlesServlet</servlet-name>
    <servlet-class>com.myblog.servlets.getArticlesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getCommentsServlet</servlet-name>
    <servlet-class>com.myblog.servlets.getCommentsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>setLiuyanServlet</servlet-name>
    <servlet-class>com.myblog.servlets.setLiuyanServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getCommentsPageCountServlet</servlet-name>
    <servlet-class>com.myblog.servlets.getCommentsPageCountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addCommentServlet</servlet-name>
    <servlet-class>com.myblog.servlets.addCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addLookNum</servlet-name>
    <servlet-class>com.myblog.servlets.addLookNum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addCommentStar</servlet-name>
    <servlet-class>com.myblog.servlets.addCommentStar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getArticlesServlet</servlet-name>
    <url-pattern>/getArticlesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getCommentsServlet</servlet-name>
    <url-pattern>/getCommentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>setLiuyanServlet</servlet-name>
    <url-pattern>/setLiuyanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getCommentsPageCountServlet</servlet-name>
    <url-pattern>/getCommentsPageCountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addCommentServlet</servlet-name>
    <url-pattern>/addCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addLookNum</servlet-name>
    <url-pattern>/addLookNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addCommentStar</servlet-name>
    <url-pattern>/addCommentStar</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>